############################
# Build results
############################
bin/
obj/
out/
publish/

############################
# Visual Studio
############################
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

############################
# Rider / VS Code
############################
.idea/
.vscode/

############################
# Logs
############################
*.log

############################
# OS Files
############################
.DS_Store
Thumbs.db

############################
# Environment / Secrets
############################
appsettings.Development.json
appsettings.*.local.json
*.env

############################
# ASP.NET Core
############################
wwwroot/
coverage/
TestResults/

############################
# Entity Framework
############################
Migrations/*Designer.cs

############################
# NuGet
############################
*.nupkg
.nuget/packages/

############################
# Node (if frontend inside backend)
############################
node_modules/
dist/
